<style>
.uiViewColapsed{
    margin-left:100px;
}
.uiView{
    margin-left:20px;
}
</style>
<div id="page-wrapper" ng-cloak ng-class="vm.getState()">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <admin-side-menu colapsed="vm.colapsed" footer-links="vm.footerLinks" side-menu-items="vm.sideMenuItems"></admin-side-menu>
    </div>
    <div id="content-wrapper">
        <div class="page-content">
             <!--Header Bar 
            <admin-header-bar title="Timebanking" alert-menu-items="vm.alertMenuItems" user-menu-items="vm.userMenuItems" user-name="{{vm.userName}}">
            </admin-header-bar>-->

            <div ng-class="vm.getViewCssClass()">
                <ng-transclude></ng-transclude>
            </div>
            
        </div>
    </div>
</div>
