<!--<my-input-field field-label="Date From" ng-model="vm.fromDate" input-type"date">

{{vm.fromDate}}
{{vm.toDate}}}-->

    
<my-input-field input-type="time" field-label="From"  ng-model="vm.fromDate" ng-change="vm.fromTimeChanged()" hour-step="vm.hourStep" minute-step="vm.minStep" show-meridian="vm.showMeridian"></my-input-field>

<my-input-field input-type="time" field-label="To"  ng-model="vm.toDate" ng-change="vm.toTimeChanged()" hour-step="vm.hourStep"" minute-step="vm.minStep" show-meridian="vm.showMeridian"></my-input-field>
